package $package_name;

import org.apache.logging.log4j.Logger;
import org.apache.logging.log4j.LogManager;

public class $main_class
{
    static final Logger logger = LogManager.getLogger(${main_class}.class.getName());
    public static void main(String args[])
    {
        logger.trace("Entering application.");
        logger.error("Didn't do it.");
        System.out.println("Hello, World!!!");

        logger.trace("Exiting application.");
    }
}
// vim: set ts=4 sw=4 tw=78 ft=java:

