<?xml version="1.0" encoding="UTF-8"?>
<archetype-descriptor
    name="jakarta-webapp"
    xmlns="http://maven.apache.org/plugins/maven-archetype-plugin/archetype-descriptor/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://maven.apache.org/plugins/maven-archetype-plugin/archetype-descriptor/1.2.0
        https://maven.apache.org/xsd/archetype-descriptor-1.2.0.xsd">

  <fileSets>

    <!-- ROOT FILES -->
    <fileSet filtered="true" encoding="UTF-8">
      <directory></directory>
      <includes>
        <include>.classpath</include>
      </includes>
    </fileSet>

    <fileSet filtered="true" encoding="UTF-8">
      <directory></directory>
      <includes>
        <include>.project</include>
      </includes>
    </fileSet>

    <fileSet filtered="true" encoding="UTF-8">
      <directory></directory>
      <includes>
        <include>.yabs</include>
      </includes>
    </fileSet>

    <fileSet filtered="true" encoding="UTF-8">
      <directory></directory>
      <includes>
        <include>Makefile</include>
      </includes>
    </fileSet>

    <!-- JAVA -->
    <fileSet filtered="true"
             packaged="true"
             encoding="UTF-8">

      <directory>src/main/java</directory>

      <includes>
        <include>**/*.java</include>
      </includes>
    </fileSet>

    <!-- WEB -->
    <fileSet filtered="true"
             encoding="UTF-8">

      <directory>src/main/webapp</directory>

      <includes>
        <include>**/*</include>
      </includes>
    </fileSet>

    <!-- RESOURCES -->
    <fileSet filtered="true"
             encoding="UTF-8">

      <directory>src/main/resources</directory>

      <includes>
        <include>**/*</include>
      </includes>
    </fileSet>

    <!-- TEST -->
    <fileSet filtered="true"
             encoding="UTF-8">

      <directory>src/test/java</directory>

      <includes>
        <include>**/*.java</include>
      </includes>
    </fileSet>

  </fileSets>

</archetype-descriptor>
