MVN = mvn

ARCHETYPE_GROUP_ID    = project._42algoritmos
ARCHETYPE_ARTIFACT_ID = $archetype_artifact_id
ARCHETYPE_VERSION     = $archetype_version

LOCAL_REPO = \${HOME}/.m2/repository
ARCHETYPE_PATH = \$(LOCAL_REPO)/project/_42algoritmos/\$(ARCHETYPE_ARTIFACT_ID)/\$(ARCHETYPE_VERSION)

install:
	\$(MVN) install

uninstall:
	rm -rf \$(ARCHETYPE_PATH)

clean:
	\$(MVN) clean

reinstall: uninstall install

generate:
	\$(MVN) archetype:generate \
		-DarchetypeGroupId=\$(ARCHETYPE_GROUP_ID) \
		-DarchetypeArtifactId=\$(ARCHETYPE_ARTIFACT_ID) \
		-DarchetypeVersion=\$(ARCHETYPE_VERSION) \
		-DarchetypeCatalog=local \
		-DgroupId=br.eng.ivanlopes \
		-DartifactId=my-webapp \
		-Dversion=1.0-SNAPSHOT \
		-Dpackage=br.eng.ivanlopes \
		-DinteractiveMode=false

purge:
	rm -rf target
	rm -rf my-webapp

.PHONY: install uninstall clean reinstall generate purge
