#raw
MVN = mvn

ARCHETYPE_GROUP_ID    = project._42algoritmos
ARCHETYPE_ARTIFACT_ID = console-java-archetype
ARCHETYPE_VERSION     = 1.0.0

GROUP_ID    = br.eng.ivanlopes
ARTIFACT_ID = my-console
VERSION     = 1.0-SNAPSHOT
PACKAGE     = br.eng.ivanlopes

LOCAL_REPO = $(HOME)/.m2/repository
ARCHETYPE_PATH = $(LOCAL_REPO)/project/_42algoritmos/$(ARCHETYPE_ARTIFACT_ID)/$(ARCHETYPE_VERSION)

install:
	$(MVN) install

uninstall:
	rm -rf $(ARCHETYPE_PATH)

clean:
	$(MVN) clean

reinstall: uninstall install

generate:
	$(MVN) archetype:generate \
		-DarchetypeGroupId=$(ARCHETYPE_GROUP_ID) \
		-DarchetypeArtifactId=$(ARCHETYPE_ARTIFACT_ID) \
		-DarchetypeVersion=$(ARCHETYPE_VERSION) \
		-DarchetypeCatalog=local \
		-DgroupId=$(GROUP_ID) \
		-DartifactId=$(ARTIFACT_ID) \
		-Dversion=$(VERSION) \
		-Dpackage=$(PACKAGE) \
		-DinteractiveMode=false

purge:
	rm -rf target
	rm -rf $(ARTIFACT_ID)

.PHONY: install uninstall clean reinstall generate purge
#end raw
