<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">

  <modelVersion>4.0.0</modelVersion>

  <groupId>\${groupId}</groupId>
  <artifactId>\${artifactId}</artifactId>
  <version>\${version}</version>
  <packaging>jar</packaging>

  <name>\${artifactId}</name>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.release>$java_version</maven.compiler.release>

    <main.class>\${package}.App</main.class>

    <junit.version>$junit_version</junit.version>
    <log4j.version>$log4j_version</log4j.version>
    <lombok.version>$lombok_version</lombok.version>

    <maven.compiler.plugin.version>$maven_compiler_plugin_version</maven.compiler.plugin.version>
    <exec.maven.plugin.version>$exec_maven_plugin_version</exec.maven.plugin.version>
    <maven.jar.plugin.version>$maven_jar_plugin_version</maven.jar.plugin.version>

    <log4j.configurationFile>\${basedir}/src/main/resources/log4j2.xml</log4j.configurationFile>
  </properties>

  <dependencies>
    <dependency>
      <groupId>org.junit.jupiter</groupId>
      <artifactId>junit-jupiter</artifactId>
      <version>\${junit.version}</version>
      <scope>test</scope>
    </dependency>

    <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-api</artifactId>
      <version>\${log4j.version}</version>
    </dependency>

    <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-core</artifactId>
      <version>\${log4j.version}</version>
    </dependency>

    <dependency>
      <groupId>org.projectlombok</groupId>
      <artifactId>lombok</artifactId>
      <version>\${lombok.version}</version>
      <scope>provided</scope>
    </dependency>

  </dependencies>

  <build>
    <finalName>\${project.artifactId}-\${project.version}</finalName>

    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>\${maven.compiler.plugin.version}</version>
        <configuration>
          <release>\${maven.compiler.release}</release>
        </configuration>
      </plugin>

      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>exec-maven-plugin</artifactId>
        <version>\${exec.maven.plugin.version}</version>
        <configuration>
          <mainClass>\${main.class}</mainClass>
        </configuration>
      </plugin>

      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-jar-plugin</artifactId>
        <version>\${maven.jar.plugin.version}</version>
        <configuration>
          <archive>
            <manifest>
              <mainClass>\${main.class}</mainClass>
            </manifest>
          </archive>
        </configuration>
      </plugin>
    </plugins>
  </build>

</project>
