<?xml version="1.0" encoding="utf-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

  <modelVersion>4.0.0</modelVersion>

  <groupId>$group_id</groupId>
  <artifactId>$artifact_id</artifactId>
  <packaging>jar</packaging>
  <version>$version</version>

  <name>Console Application</name>
  <url>http://maven.apache.org</url>

  <developers>
    <developer>
      <id>$developer_id</id>
      <name>$developer_name</name>
      <email>$developer_email</email>
      <timezone>$timezone</timezone>
      <url>$developer_url</url>
    </developer>
  </developers>

  <properties>
    <main.class>$package_name.$main_class</main.class>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <java-version>$java_version</java-version>

    <log4j.configurationFile>\${basedir}/src/main/resources/log4j2.xml</log4j.configurationFile>

    <junit.version>$junit_version</junit.version>
    <log4j.version>$log4j_version</log4j.version>

    <maven.compiler.plugin.version>3.1</maven.compiler.plugin.version>
    <exec.maven.plugin.version>1.2.1</exec.maven.plugin.version>
    <maven.javadoc.plugin.version>2.9.1</maven.javadoc.plugin.version>
  </properties>

  <build>
    <finalName>\${project.artifactId}-\${project.version}</finalName>

    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>\${maven.compiler.plugin.version}</version>
        <configuration>
          <source>\${java-version}</source>
          <target>\${java-version}</target>
        </configuration>
      </plugin>

      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>exec-maven-plugin</artifactId>
        <version>\${exec.maven.plugin.version}</version>
        <configuration>
          <mainClass>\${main.class}</mainClass>
        </configuration>
      </plugin>
    </plugins>
  </build>

  <dependencies>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>\${junit.version}</version>
      <scope>test</scope>
    </dependency>

    <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-api</artifactId>
      <version>\${log4j.version}</version>
    </dependency>

    <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-core</artifactId>
      <version>\${log4j.version}</version>
    </dependency>
  </dependencies>

</project>

