MVN  = mvn

compile:
	\$(MVN) compile

run:
	\$(MVN)  exec:java

package:
	\$(MVN) package

test:
	\$(MVN) test

clean:
	\$(MVN) clean

deps:
	\$(MVN) dependency:tree

jar:
	\$(MVN)  jar:jar

.PHONY: compile run package test clean deps jar
