# $archetype_artifact_id

Maven archetype for a modern Jakarta Servlet web application.

## Install

```bash
mvn install
```

## Generate project

```bash
mvn archetype:generate \
  -DarchetypeGroupId=$archetype_group_id \
  -DarchetypeArtifactId=$archetype_artifact_id \
  -DarchetypeVersion=$archetype_version \
  -DarchetypeCatalog=local
```

## Non-interactive
```bash
mvn archetype:generate \
  -DarchetypeGroupId=$archetype_group_id \
  -DarchetypeArtifactId=$archetype_artifact_id \
  -DarchetypeVersion=$archetype_version \
  -DarchetypeCatalog=local \
  -DgroupId=br.eng.ivanlopes \
  -DartifactId=my-webapp \
  -Dversion=1.0-SNAPSHOT \
  -Dpackage=br.eng.ivanlopes \
  -DinteractiveMode=false
```
## Run generated project
```bash
cd my-webapp
mvn jetty:run
```

Then open:

http://localhost:8080/hello

## Gerar o archetype

```bash
chmod +x generate.py
./generate.py
```

Depois:

```bash
cd servlet-jakarta-webapp-archetype
mvn install
```

## Gerar projeto a partir dele:

```bash
mvn archetype:generate \
  -DarchetypeGroupId=project._42algoritmos \
  -DarchetypeArtifactId=servlet-jakarta-webapp-archetype \
  -DarchetypeVersion=2.0.0 \
  -DarchetypeCatalog=local \
  -DgroupId=br.eng.ivanlopes \
  -DartifactId=my-webapp \
  -Dversion=1.0-SNAPSHOT \
  -Dpackage=br.eng.ivanlopes \
  -DinteractiveMode=false
```

Rodar:

```bash
cd my-webapp
mvn jetty:run
```
